.header{
  display: flex;
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}


ul{
  display: flex; 
  list-style-type: none;
  margin: 0px;
  padding: 8px;
  gap: 8px;
}

a{
  text-decoration: none;
  background-color: white;
  border: 8px solid white;
}

.logo{
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}
